<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjenyBootstrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjenyBootstrapper.Properties.Settings>
            <setting name="DefaultProjectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultUnityExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPackageServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPackageServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPackageCommonDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultReleaseFolderDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultUsePackageServer" serializeAs="String">
                <value>False</value>
            </setting>
        </ProjenyBootstrapper.Properties.Settings>
    </userSettings>
</configuration>